@import 'scss/config';

.block {
  position: relative;

  &.disabled {
    pointer-events: none;
  }
}

.eye {
  @include absolute-center-right(0);
  @include size(rem(40px), 100%);

  opacity: 0.7;
  overflow: hidden;

  @include hover {

    &:hover {
      opacity: 1;
    }
  }
}